.add-container {
    background-color: #f7f7f7;
    padding: 1em;
    margin-top: 3em;
}

.add-container h3 {
    font-size: 1.2em;
}

.add-container li {
    list-style: none;
    margin-left: 0em;
    padding: 0.3em;
}

.add-container input {
    margin-top: 1em;
    margin-right: 1em;
}

.mp-edit-link {
    margin-right: 0.5em;
}

.mp-delete {
    margin-right: 1.5em;
}

.mp-code {
    display: inline;
    font-size: 0.9em;
    padding-left:0.5em;
}

.lit-list-elem {
    
    display: none;
    background-color: white;
    font-size: 0.8rem;
    border-bottom: 1px solid #dfdfdf;
    margin-left: 1em;
    cursor: pointer;
}

#lit-list {
    background-color: white;
    width: 100%;    
    border: 1px solid gray;
    display: none;
    max-height: 300px;
    overflow-y: scroll;
}

.lit-list-elem:hover {
    background-color: rgb(215, 237, 245);
}

.mp-del-cell {
    width: 40px;
    vertical-align: top;
}
.mp-edit-cell {
    width: 40px;
}
.mp-code-cell {
    
}
.mp-row {
    
}

.highlight {
    background-color:lightpink;
}

.mp-image-documents {
    margin-top: 1em;
}

.mp-image {
    float:left;
    margin: 1em;
    width: 200px;
}

.mp-image-title {
    text-align: left;
    font-size: 0.8em;
    line-height: 1.2em;
}

.mp-divider {
    clear:both;
    margin-bottom:1em;
}

.mp-ref {
    font-size: 0.8em;
}

.mp-index-panel {
    height: 300px;
}